[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.115.6"
uvicorn = "==0.32.1"
supabase = "==2.10.0"
pydantic = "==2.10.4"
python-multipart = "==0.0.18"
qrcode = "==8.0"
pillow = "==11.1.0"

[requires]
python_version = "3.12"